.container {
	width: 100%;
	max-width: 880px; /* основной контейнер со всем контентом */
	padding: 5px;
	margin: 0 auto;
	position: relative;
  }
  .foto {
	border: 5px #000000 solid; /* обводка для аватарки */
	border-radius: 25px; /* Уголки */
	text-align: center;
	box-shadow: 0 0 10px #000000;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 95%;
	height: 80%;
	padding: 3px;
	max-width: 750px;
	max-height: 350px;
  }
  .blocktext {
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
  }
  /* стили для навигации */
  .layer1 {
	font-size: 46px;
	font-family: Arial;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	font-weight: bold;
  }
  .layer2 {
	margin-top: 5%; /*  внешний отступ сверху элемента */
	margin-bottom: 5%; /*  внешний отступ снизу элемента */
  }
  .layer3 {
	text-align: center;
	padding-bottom: 6px;
	padding-top: 5px;
	font-size: 116px;
  }
  .rounder-img {
	width: 80%;
	height: auto;
	will-change: 50%;
	max-width: 350px;
	max-height: 350px;
	overflow-y: scroll;
	margin-left: 10%;
	margin-right: 10%;
  }
  .block1 {
	width: 100%;
	background: #000000;
	height: 100svh;
	background-size: cover;
	background-image: url("2.png");
	color: #ffffff;
	overflow: auto;
	background-repeat: no-repeat;
  }
  .block2 {
	width: 100%;
	height: 60svh;
	float: left;
	color: #ffffff;
	border: solid 1px #c5090900;
	overflow: auto;
	text-shadow: rgba(0, 0, 0, 0) 2px 1.8px 2px;
  }
  .block3 {
	width: 100%;
	height: 25svh;
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("3.png");
	color: rgba(255, 255, 255);
	border: solid 1px #c5090900;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0) 2px 1.8px 2px;
	margin-top: -35px;
	margin-left: -8px;
  }
  .block4 {
	width: 96%;
	height: 12svh;
	margin-top: 3svh;
	margin-right: 2%;
	margin-left: 2%;
	float: left;
	color: #ffffff;
	border: solid 1px #c5090900;
	background-color: #ffffff;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0) 2px 1.8px 2px;
  }
  .balance {
	width: 30%;
	height: 10svh;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 1svh;
	margin-bottom: 1svh;
	border-radius: 20px;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	float: left;
	color: #ffffff;
	text-align: center;
	border: solid 1px #ffffff;
  }
  .button1 {
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
	width: 96%;
	height: 20vw;
	align-items: center;
	background: #ffffff;
	border: solid 0px #000000;;
	background-size: cover;
	color: #ffffff;
	border-radius: 10px;
  }
  .button2 {
	width: 18%;
	height: 18vw;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 1vw;
	margin-bottom: 1vw;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	background: none; /* Убираем фон */
	align-items: center;
	float: left;
	color: #ffffff;
	text-align: center;
	border: solid 1px #ffffff;
  }
